##############################################################################################################################
# Config  : HDFS Replication Configuration file.
# Date    : 05 Feb, 2018
# Version : 1.0
# Author  : Hadoop Admins
##############################################################################################################################

# Logging level(info, debug) for script logs
hadoop.bdr.hdfs.log=info

# CM Host Hosting the BDR Job
# The tool will connect to this host(DNS) to trigger the BDR Job
hadoop.bdr.hdfs.rep.cm=

# HDFS Replication Configuration Id
# This is the Schedule Id that will be triggered
hadoop.bdr.hdfs.rep.confId=

# HDFS Replication User
# This is the user using which the Job will be trigger should have right to trigger this job
hadoop.bdr.hdfs.rep.usr=

# HDFS Replication User Password (Encrypted)
# Use password utility to encrypt your password (https://github.com/sankamuk/HadoopMonitor/blob/master/monitor/passwd_util)
hadoop.bdr.hdfs.rep.passwd=

# Cluster Admin Principal (Key tab file should be present with Principal Name in script home)
# This is the id using which the tool extracts the MR Job log which will be generated as part of BDR Job
# Note a KEYTAB file should be present in the directory with the name of the user. i.e. <username>.keytab
hadoop.bdr.hdfs.rep.principle=

# HDFS Replication MR Job Check Period
# The time the tool waits before reprobing the job for completion
hadoop.bdr.hdfs.rep.chckprd=15

# HDFS Replication MR Job Check Counter
# Total number for probes the tool will make after which it declares the Job as hung and terminates with failed status
hadoop.bdr.hdfs.rep.chckcnt=20

# HDFS Replication MR Job Progress Notification
# This is number of probe the tool notifies the execution of the job is conitinuing, bring support team attention
hadoop.bdr.hdfs.rep.progsnotfy=5

# Notification Email DL
hadoop.bdr.hdfs.rep.email=sanmuk21@gmail.com

# Log retaintion time (Cleanup Job)
# BDR Job log Cleanup time
hadoop.bdr.hdfs.bcklgretain=7

# BDR Log HDFS Path (Cleanup Job)
hadoop.bdr.hdfs.bdrlogpath=/system/BDR_logs

# Hadoop binary home directory
hadoop.home.dir=/opt/cloudera/parcels/CDH/lib/hadoop

# Hadoop Java Home directory
hadoop.java.dir=/usr/java/jdk1.7.0_67-cloudera
